@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
/* 여백 초기화 */
*{margin: 0;padding: 0;}
/* 기본설정 초기화 */
a{text-decoration: none;}
li{list-style: none;}
button{border: none;background: none;}

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    z-index: 20;
}
.header .inner{
    width: 1360px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .inner h1 a{
    display: block;
    width: 278px;
    height: 20px;
    background: url(../images/logo.jpg)no-repeat;
    text-indent: -99999px;
    
}
.gnb {
    width: 1360px;
    height: 60px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 20;
}
.gnb>li>a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.gnb>li:hover>a{
    color: #d1ac7f;
}
/* 2단메뉴 */
.gnb>li>.depth2{
    width: 1360px;
    height: 43px;
    background: rgba(255,255,255,0.7);
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    gap: 63px;
    justify-content: center;
    align-items: center;
    display: none;
}
.gnb>li:hover>.depth2{
    display: flex;
}
.gnb>li>.depth2 li a{
    font-size: 15px;
    color: #838383;
}
.gnb>li>.depth2 li:hover a{
    color: #333;
}
.swiper{
    width: 1360px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    /* ,뷰포트 높이 */
}

.swiper img{
    width: 100%;
}
.swiper-pagination{
    position: absolute;
    right: 20px;          /* 슬라이드 오른쪽에서 20px */
    bottom: 20px;         /* 슬라이드 아래에서 20px */
    left: auto !important;
    width: auto !important;
    text-align: right;
    z-index: 10;          /* 이미지보다 위에 오도록 */
}
.swiper-pagination-bullet{
  background: #ccc;   /* 회색 */
  opacity: 1;         /* 흐려 보이지 않게 */
}
.swiper-pagination-bullet-active{
  background: #666;   /* 원하는 포인트 컬러 */
}