@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}

.box{
    width: 1000px;
    height: 300px;
    margin: 0   auto;
    border: 3px solid blue;
    position: relative;
}
.box .boxm{
    width: 100px;
    height: 100px;
    background: purple;
    position: absolute;
    left: 0;
    top: 0;
    animation:kyw 4s ease-in-out infinite forwards 2s;

}
.box1{
    width: 1000px;
    height: 300px;
    margin: 0   auto;
    border: 3px solid red;
    margin-top: 150px;
    position: relative;
}
.box1 .boxm1{
    width: 100px;
    height: 100px;
    background: yellow;
    position: absolute;
    left: 0;
    top: 0;
    animation:kyw2 5s ease-in-out 1 forwards 2s;
}
@keyframes kyw {
    0%{left: 0;}
    25%{left: 900px;top: 0;}
    50%{left: 900px;top: 200px;}
    75%{left: 0;top: 200px;}
    100%{left: 0;top: 0;}
    
}
@keyframes kyw2 {
    0%{left: 0;}
    20%{left: 900px;top: 0;}
    40%{left: 900px;top: 200px;}
    60%{left: 0;top: 200px;}
    80%{left: 0;top: 0;}
    100%{left: -103px;top: 0;}
}